#root {
  margin: 0 auto;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  background-color: #12bae4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4vw;
}

.logo a {
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.6s ease;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
}

.search-box input[type="text"] {
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  margin-right: 16px;
  width: 250px;
  max-width: 50vw;
  font-size: 24px;
transition: all 0.45s ease;
}
.search-box input:focus {
  width: 300px;
  border: none;
  
}

.nav-icon {
  width: 32px;
  aspect-ratio: 1 / 1;
  padding-right: 10px;
  color: rgb(46, 45, 44);
}

.logo:hover a {
  letter-spacing: 6px;
  margin-left: 16px;
}