/* Card Styles */

.card-container {
    display: grid;
    padding: 10vh 4vw;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 3rem;
}

.card {
    padding: 32px;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: rgb(54, 54, 54);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}


.card-image-container {
    width: 100%;
    position: relative;
    height: 320px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    transition: all 0.6s ease-in-out;
}

.card-image {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    padding-bottom: 16px;
    position: absolute;

}



.card-fullname {
    font-weight: bold;
    font-size: 28px;
    display: block;

}

.card-location {
    font-size: 18px;
    margin-bottom: 26px;
    display: block;

}
.card-description-container {
    width: 100%;
    min-height: 80px;
    transition: all 0.6s ease-in-out;
}

/* Hidden Data Styles */

.hidden {
    font-weight: 100;
    font-size: 0px;
    transition: all 0.6s ease-in-out;

}



.card:hover .hidden {
    font-size: 16px;
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.card:hover .card-image-container {
    height: 220px;

}

.card:hover .card-description-container {
    min-height: 180px;
}

.card-phone {
        display: block;

}

.card-email {

        display: block;

}

.card span {
    width: 100%;
    text-align: left;
}

.card-status-image {
    position: relative;
    margin: 26px 10px;
    transition: all 0.65s ease-out;
}

.card:hover .card-status-image {
    transform: rotate(+360deg) scale(1.1);
    margin: 36px 20px;    
}

