nav {
    background-color: #12bae4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4vw;
}

.logo a {
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: white;
}

.search-box input[type="text"] {
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    margin-right: 16px;
    width: 250px;
    max-width: 50vw;
    font-size: 24px;

}

.nav-icon {
    width: 32px;
    aspect-ratio: 1 / 1;
    padding-right: 10px;
    color: rgb(46, 45, 44);
}